name: Node.js CI

on:
  push:
    branches: main 
  

jobs:
  build:

    runs-on: ubuntu-latest

    
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
    - name: Use node.js 
      uses: actions/setup-node@v2
      with:
        node-version: '12'
        cache: 'npm'
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test
